@function test($iterations, $dummy-var: "") {
  $result: false;

  @for $i from 1 through $iterations {
    $result: not $result;
  }

  @return $result;
}

@for $i from 1 through 25 {
  test {
    @if $i % 2 == 0  {
      function: test($i * 10, "dummy");
    } @else {
      function: test($i * 10);
    }
  }
}
