@import "compass";

@function test($iterations, $dummy-var: "") {
  $result: false;
  $map: ();

  @for $i from 1 through $iterations {
    $map: map-merge($map, ("key-#{$i}": $result));
    $result: not $result;
  }

  @return test-2($map, (1, 2, 3));
}

@function test-2($map, $list: ()) {

  @each $key, $value in $map {
    $list: append($list, $value, "comma");
  }

  @return nth($list, 1);
}

%placeholder {
  extend: "";
}

@for $i from 1 through 25 {
  .test,
  .test-#{$i} {
    @extend %placeholder;
    @include opacity(0);

    @if $i % 2 == 0  {
      function: test($i * 10, "dummy");
    } @else {
      function: test($i * 10);
    }
  }
}
